/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: '游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック', 'Yu Gothic', sans-serif;
  white-space: pre-wrap;
}
li {
  list-style-type: none;
}
img {
  box-sizing: border-box;
  max-width: 100%;
}
